header {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  color: #282c3f;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  justify-content: space-between;
  align-items: center;
}

nav {
  justify-content: center;
  align-items: center;
}

nav h1 img {
  width: 100px;
  margin-top: 5px;
  border-radius: 37px;
}

nav h1 {
  margin-right: 40px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li .nav-link {
  font-weight: 700;
  padding: 20px 0;
}

.cartIcon {
  position: relative;
}

.cartQuant {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background-color: #ffd500;
  border-radius: 50%;
}

@media screen and (max-width:426px) {
  .hidemobile {
    display: none;
  }

  nav ul li {
    margin: 0 0px;
  }

}